* {
    margin: 0px;
    padding: 0px;
}

.header_container {
    color: rgb(246, 249, 249);
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 40%;
}

.logo img {}

.menu {
    width: 70%;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.menu ul li {}

.menu ul li a {
    color: rgb(45, 57, 80);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
}

.banner_container {
    position: relative;
    background-image: url("/Resources/Banner_BG.png");
    min-height: 87vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner_element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
}

.banner_element h1 {
    color: rgb(255, 255, 255);
    font-size: 90px;
    margin-bottom: 10px;
}

.banner_element span {
    display: block;
    width: 100%;
    height: 1px;
    margin: 15px 0px;
    background: rgb(21, 164, 250);
}

.banner_element p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
}

.banner_element button {
    font-size: 16px;
    background: transparent;
    border: 1px solid rgb(21, 164, 250);
    padding: 13px 28px;
    color: white;
    text-transform: capitalize;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 2s ease 0s;
}

.banner_element button:hover {
    background: rgb(21, 164, 250);
    transition-delay: 0.3s;
    color: rgb(255, 255, 255);
}

.banner_container i {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
   
    transform: translate(-50%, 0px);
    font-size: 24px;
    animation: updown 2s linear infinite;
}
@keyframes updown {
    0% {
        bottom: 70px;
    }

    100% {
        bottom: 40px;
    }

}