* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.header_container {
    color: rgb(246, 249, 249);
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 40%;
}

.logo img {}

.menu {
    width: 70%;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.menu ul li {}

.menu ul li a {
    color: rgb(45, 57, 80);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
}

.banner_container {
    position: relative;
    background-image: url("/Resources/Banner_BG.png");
    min-height: 87vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner_element {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
}

.banner_element h1 {
    color: rgb(255, 255, 255);
    font-size: 90px;
    margin-bottom: 10px;
}

.banner_element span {
    display: block;
    width: 100%;
    height: 1px;
    margin: 15px 0px;
    background: rgb(21, 164, 250);
}

.banner_element p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
}

.banner_element button {
    font-size: 16px;
    background: transparent;
    border: 1px solid rgb(21, 164, 250);
    padding: 13px 28px;
    color: white;
    text-transform: capitalize;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 2s ease 0s;
}

.banner_element button:hover {
    background: rgb(21, 164, 250);
    transition-delay: 0.3s;
    color: rgb(255, 255, 255);
}

.banner_container i {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;

    transform: translate(-50%, 0px);
    font-size: 20px;
    animation: updown 2s linear alternate infinite;
}

@keyframes updown {
    0% {
        bottom: 70px;
    }

    100% {
        bottom: 40px;
    }

}

/* banner section end here */
/* simple container section start  */
.simple_container {
    background: #e2f5f5;
}

.simple_content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.simple_content h2 {
    font-weight: 300;
    font-size: 45px;
    color: #2d3950;
}

.simple_content p {
    margin-top: 15px;
    color: #999999;
}

/* simple container section end */
/* Service Container start  */
.service_container {
    width: 80%;
    display: flex;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-around;
}

.service_content {
    width: 30%;
    text-align: center;
}

.icon {
    height: 70px;
    width: 70px;
    color: white;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+50,5fc3ff+100 */
    background: #48baff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 50%, #5fc3ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 50%, #5fc3ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #48baff 0%, #48baff 50%, #5fc3ff 50%, #5fc3ff 50%, #5fc3ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48baff', endColorstr='#5fc3ff', GradientType=1);
    /* IE6-9 */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}



.service_content h3 {
    margin: 15px 0 10px;
}

.service_content p {}

/* Service Container end  */

/* Gallery Section start  */
.gallery_container {

    background: #e2f5f5;

    padding: 100px 0;
}

.gallery_content {

    width: 80%;

    margin: auto;
}

.gallery_text {

    text-align: center;

    margin-bottom: 50px;
}

.gallery_text h2 {

    margin-bottom: 10px;
}

.gallery_text p {}

.gallery_section {}

.gallery_item {}

.gallery_item img {}

/* Gallery Section end  */